.h_ipen {
  font-weight: bold;
  color: #33c;
}

.ipen_01 {
  font-size: 1.2em;
}

.headerCustom {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 80px;
  background-image: url("/dvn/assets/img/background_inep.png.png");
  background-size: 100% 80px;
}

.navbar-fixed-top {
  top: 80px;
}

.navbar-header {
  background-color: #f78747;
  color: #fff;
}

.navbar, .navbar-default {
  min-height: 20px;
  background-color: #f78747;
  color: #fff;
  line-height: 0.6em;
  background-image: linear-gradient(to bottom,#f78747 0,#f78747);

}

.navbar-nav > li > a,
.navbar-default .navbar-nav>li>a
{
  background-color: #f78747;
  font-weight: bold;
  text-decoration: none;
  line-height: 0.6em;
  color: #fff;
}
